* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/* header */
header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: white;
    padding-bottom: 15px;
}

.header-col1 {
    float: left;
    width: 50%; 
   
}
.header-col2 {
    float: left;
    width: 50%;
    text-align: right;
  
    
}
li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    padding-top: 20px;
    padding-right: 20px;
}
a {
    text-decoration: none;
    color: black;
}

.button1 {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 10px;
}

/* header */

/* hero */

.container1 {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}

.hero {
    background-color: #b4d0e7;
    width: 100%;
}

.title1 {
    font-size: 55px;
    padding: 100px;
}

.hero-p {
    float: left;
    width: 50%;
    text-align: left;
 
}

.hero-img {
    float: left;
    width: 50%;
    margin-bottom: -70px;
 
}

.jumbo {
    height: 90%;
    width: 90%;

}

.button2 {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
   margin-top: 10px;

}




