* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

img {max-width:100%}

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/* header */
header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: white;
    padding-bottom: 15px;
}

.header-col1 {
    float: left;
    width: 50%; 
   
}
.header-col2 {
    float: left;
    width: 50%;
    text-align: right;
  
    
}
li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    padding-top: 20px;
    padding-right: 20px;
}
a {
    text-decoration: none;
    color: black;
}

.button1 {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

/* header */

/* hero */

.container1 {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}

.hero {
    background-color: #b4d0e7;
    width: 100%;
}

.title1 {
    font-size: 55px;
    padding: 100px;
}

.hero-p {
    float: left;
    width: 50%;
    text-align: left;
 
}

.hero-img {
    float: left;
    width: 50%;
    margin-bottom: -70px;
 
}

.jumbo {
    height: 90%;
    width: 90%;

}

.button2 {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

/* hero */

/* section1 */
.section1 {
    padding-top: 100px;
    padding-bottom: 50px;
}

.containersmall{
    margin: 0 auto;
    width: 70%;

}

.radio {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 40px;
}

.Professional {
    float: left;
    width: 33%;
    border: ridge;
    text-align: center;
    

}
.Standard {
    float: left;
    width: 33%;
    border: ridge;
    text-align: center;
    
    
}
.Advanced {
    float: left;
    width: 33%;
    border: ridge;
    text-align: center;
    
}

.lifloat{
    display: block;
}

.button3 {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;

}

.link1 {
    color: blue;
    text-decoration: underline;
    margin-bottom: 30px;
}

.fa-check {
    color: blue;
}


/* section2 */

.team {
    text-align: center;
    border-style: ridge;
    width: 99%;
}

.section2 {

    border: ridge;
    width: 99%;
    position: relative;
    padding: 30px;
    margin-bottom:  100px;
 
}

.button4 {
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* sectiion3 */

.section3 {
    position: relative;
}

.partner-img {
   width: 400px;
   height: auto;
}

.section3-p {
    position: absolute;
    right: 30px;
    top: 30px;

}

.button5 {
    background-color: white;
    padding: 10px;
}
/* section4 */

.section4 {
    margin-bottom: 50px;
}

.firstfloat4 {
    float: left;
    width: 33%;
}
.secondfloat4 {
    float: left;
    width: 33%;
}
.thirdfloat4 {
    float: left;
    width: 33%;
}

/* section5 */

.section5 {
    padding-top: 50px;
    width: 99vw;
    
}

.leftsquare {
    float: left;
    width: 30vw;
    position: relative;
}
.squarecenter {
    float: left;
    width: 39vw;
    padding: 50px;
    background-color: lightgrey;
    height: 30vw;

}
.designit {
    font-size: 35px;
}
.rightsquare {
    float: left;
    width: 30vw;
    position: relative;
}
.small1 {
    float: left;
    width: 15vw;
    height: 15vw;
    background-color: lightgreen;
    padding: 20px;
}

.small1 img {
  width: 100%;
  height: 100%;
  padding: 40px;
    
}
.small2 img {
  width: 100%;
  height: 100%;
  padding: 40px;

}
.small3 img {
  width: 100%;
  height: 90%;
  padding: 40px;
}
.small4 img {
  width: 100%;
  height: 100%;
  padding: 40px;
  color: white;
}
.small2 {
    float: left;
    width: 15vw;
    height: 15vw;
    background-color: brown;
}

.small3 {
    float: left;
    width: 15vw;
    height: 15vw;
    background-color: lightskyblue;
}
.small4 {
    float: left;
    width: 15vw;
    height: 15vw;
    background-color: red;
}